<h2>Testing</h2>
<p>The top product so far is <%= @product_1_name %> with <%= @product_1_qty %> units sold so far.</p>
<p>The second product so far is <%= @product_2_name %> with <%= @product_2_qty %> units sold so far.</p>
