.individual-product{
  margin-top: 20px;
}
.product-description{
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: rgba(247, 247, 247, 0.55);
}
#buy-button{
  margin-left: 5px;
  margin-bottom: 15px;
}
.dollar:before {
    content: '$';
}
